<?xml version="1.0" encoding="utf-8"?>
<objects>
	<object id="client" class="jedai.net.ClientManager">
		<property name="username" value="user"/>
		<property name="password" value="pass"/>
	</object>
	
	<object id="connection" class="jedai.net.rpc.Red5Connection">
		<constructor-arg value="default"/>
		<constructor-arg value="true"/>
		<property name="rtmpURI" value="rtmp://fms1/live"/>
		<property name="connectionArgs">
	      <array>
	        <ref>client</ref>
	      </array>
    	</property>
	</object>
	
	<!-- trunk - branch 1
	 <object id="streamer" class="jedai.media.rtp.Red5NetStream">
       <constructor-arg>baseRTMPCon</constructor-arg>
       <property name="connection">
            <ref>connection"</ref>
        </property>
        <property name="extensions">
            <array>
                <bean class="jedai.media.extensions.QualityOptimizer" />
            </array>
        </property>
     </object>
      -->
</objects>